.dashboard{
    margin:0px;
    padding:0px;
}
.svg {
    background-color: #FF7842;
    width: 86px;
    height: 103px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}
.svg:hover{
    background-color: #313791;
}
.frame{
    margin-right: 70px;
    background-color: #C1C4EE;
    border-radius: 11px;
}
.frameContent{
    border-radius: 11px;
}