VACAY_BACKEND_ENV=local
GOOGLE_REDIRECT_URL=http://localhost:3000/redirect/google
GOOGLE_CLIENT_ID='dad-jf8o5bakj2eileqwej2nhlm34343vpdqe40.apps.googleusercontent.com'
FACEBOOK_REDIRECT_URL=http://localhost:3000/redirect/facebook
FACEBOOK_CLIENT_ID='34232323'
FACEBOOK_OAUTH_STATE=VACAY_OAUTH_DEVELOPMENT
FACEBOOK_CLIENT_SECRET='2343434'
S3_BUCKET=assets
AWS_REGION=us-west-2
OPENAI_KEY=sk-jaOlCPxcDT232fdcsfsd