.mainContainer {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #767BB4 0%, #D0D2E1 100%);
}

.main {
    width: 381px;
    height: 513px;
    border-radius: 20px;
    background-color: #FFF;

}



.logo {
    width: 158.001px;
    height: 54.917px;
    flex-shrink: 0;
    /* background-color: yellow; */
    color: #313791;
    text-align: center;
    font-family: DM Sans;
    font-size: 33.748px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 6.136px; 18.182% */
    letter-spacing: -0.675px;
}

.ex {
    width: 54.917px;
    height: 54.917px;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 33.748px;
    font-style: normal;
    font-weight: 700;
    line-height: 6.136px;
    /* 18.182% */
    letter-spacing: -0.675px;
    border-radius: 12.272px;
    background: #313791;
    padding: 2px 6px;
}

.txt {
    /* width: 187px;
    height: 32px;
    flex-shrink: 0; */
    color: #313791;
    text-align: center;
    font-family: DM Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 9.136px; 24.544% */
    letter-spacing: 1px;
}

.link {
    /* width: 187px;
    height: 20px; */
    text-align: center;
}

.li {
    color: #313791;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    /* letter-spacing: 0.5px; */
    font-family: DM Sans;
}

.forget>.li {
    width: 108px;
    height: 32px;
    color: #313791;
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;

}

.forget {
    width: 148px;
    height: 40px;
    border-radius: 10px;
    background: #FFF;
}

.btn {
    width: 100%;
    text-align: center;
    color: #FFF;
    background: #313791;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
   
}

.btn:hover {
    color: #FFF;
    background: #313791;
}